extends baseEmail

block content
	p Hi #{firstName},
	p Forgot your password?
	p Hi #{firstName}, 
	p Your password reset token (valid for only 10 minutes): #{token}
	p #{url}
	a(href=`${url}`) Reset Password
	p If you didn't forget your password, please ignore this email!